footer
    .audio-player
        .audio-player__column
            #audio-player__btn--volume
                i.fas.fa-volume-down
            #audio-player__btn--play
                i.fas.fa-play
            #audio-player__btn--repeat
                i.fas.fa-redo-alt
        .audio-player__column.audio-player__wrapper
            span.currentTime 0:00
            if cp && cp[0]
                audio#audio(src=`${cp[0].currentPlay.trackUrl}` type="audio/mp3")
            else
                audio#audio(type="audio/mp3")
            .audio-player__controls
                progress#progressBar(value="0", max="100")
            span.totalTime 0:00
        .audio-player__column
            if cp && cp[0]
                img.audio-player__album-cover(src=`${cp[0].currentPlay.imgUrl}`, alt="")
            else
                img.audio-player__album-cover(src="MEDIA/tomorrow.jpg", alt="")
            .audio-player__info
                if cp && cp[0]
                    span.audio-player__info--artist
                        a(href=`${routes.artist}`) #{cp[0].currentPlay.artist}
                    span.audio-player__info--title #{cp[0].currentPlay.title}
                else
                    span.audio-player__info--artist
                        a(href=`${routes.artist}`) lorem
                    span.audio-player__info--title lorem
            #audio-player__btn--like
                i.fas.fa-heart
        .volume__controls
            progress#volume-progressBar(value="0", max="100")